.orange {
  color: orange;
}

.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  border-radius: 20px;
  background-color: #ebebeb;
  margin-bottom: 1rem;
   box-shadow: 11px 17px 11px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: 11px 17px 11px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 17px 11px -5px rgba(0,0,0,0.75);
}
.avatar {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}
.photo {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.new {
  background-color: mediumturquoise;
  width: 3rem;
  height: 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  position: absolute;
  right: 2.3rem;
}
.new__clone {
  position: absolute;
  left: 70%;
  top: 10%;
  background-color: aquamarine;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-title {
  font-size: 1.5rem;
  width: 20rem;
  background: yellow;
  font-weight: bold;
  text-align: center;
  margin: 5rem 0 0.2rem 0;
}
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px rgb(215,127,12) solid;
  border-radius: 1rem;
  width: 14rem;
  height: 12rem;
  margin: 2rem;
  padding: 1rem;
}
.counter:hover {
  background-color: lightyellow;
}
.number {
  font-size: 5rem;
}
.button {
  font-size: 2rem;
  background: rgb(215,233,47);
  background: linear-gradient(59deg, rgba(215,233,47,1) 33%, rgba(191,188,72,1) 71%);
  box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.71);
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.71);
  -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.71);
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}
